<div class="material">
  <button class="btn btn-outline-secondary egg"></button>
  <button class="btn btn-outline-secondary tomato"></button>
  <button class="btn btn-outline-secondary grounded"></button>
  <button class="btn btn-outline-secondary carrot"></button>
  <button class="btn btn-outline-secondary belly"></button>
  <button class="btn btn-outline-secondary garlic"></button>

<!--  <button class="egg"></button>-->
<!--  <button class="grounded"></button>-->
<!--  <button class="carrot"></button>-->
<!--  <button class="belly"></button>-->
<!--  <button class="garlic"></button>-->
</div>
