<!--&lt;!&ndash;<p>第一个例子</p>&ndash;&gt;-->
<!--&lt;!&ndash;<hr>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="flexContainer">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="redBox">&ndash;&gt;-->
<!--&lt;!&ndash;    一个正方形红盒子&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="redBox">&ndash;&gt;-->
<!--&lt;!&ndash;    一个正方形红盒子&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="redBox">&ndash;&gt;-->
<!--&lt;!&ndash;    一个正方形红盒子&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="redBox">&ndash;&gt;-->
<!--&lt;!&ndash;    一个正方形红盒子&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<p>第二个例子</p>&ndash;&gt;-->
<!--&lt;!&ndash;<hr>&ndash;&gt;-->

<!--&lt;!&ndash;<div class="flexContainerAuto">&ndash;&gt;-->
<!--&lt;!&ndash;  <button class="btn-light"> VIP集训营 </button>&ndash;&gt;-->
<!--&lt;!&ndash;  <button class="btn-light"> 课程 </button>&ndash;&gt;-->
<!--&lt;!&ndash;  <button class="btn-light"> 微课堂 </button>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<p>第三个例子</p>&ndash;&gt;-->
<!--&lt;!&ndash;<hr>&ndash;&gt;-->

<!--&lt;!&ndash;<div style="display: flex; justify-content: space-around">&ndash;&gt;-->
<!--&lt;!&ndash;  <button class="btn-outline-secondary" style="width: 300px"> VIP集训营 </button>&ndash;&gt;-->
<!--&lt;!&ndash;  <button class="btn-outline-secondary" style="width: 300px"> 课程 </button>&ndash;&gt;-->
<!--&lt;!&ndash;  <button class="btn-outline-secondary" style="width: 300px"> 微课堂 </button>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<p>第四个例子</p>&ndash;&gt;-->
<!--&lt;!&ndash;<hr>&ndash;&gt;-->

<!--&lt;!&ndash;<div style="display: inline-block">&ndash;&gt;-->
<!--&lt;!&ndash;  <button class="btn-outline-secondary" style="width: 300px; margin-left: 100px"> VIP集训营 </button>&ndash;&gt;-->
<!--&lt;!&ndash;  <button class="btn-outline-secondary" style="width: 300px; margin-left: 100px"> 课程 </button>&ndash;&gt;-->
<!--&lt;!&ndash;  <button class="btn-outline-secondary" style="width: 300px; margin-left: 100px"> 微课堂 </button>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<hr>&ndash;&gt;-->

<!--&lt;!&ndash;<div>&ndash;&gt;-->
<!--&lt;!&ndash;<div style="border: 5px red solid" class="col-12">&ndash;&gt;-->
<!--&lt;!&ndash;  占据12格子&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<div style="border: 5px red solid" class="col-3">&ndash;&gt;-->
<!--&lt;!&ndash;  占据3格子&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;  <div style="border: 5px red solid" class="col-6 offset-3">&ndash;&gt;-->
<!--&lt;!&ndash;    占据3格子&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="col">&ndash;&gt;-->
<!--&lt;!&ndash;      1 of 2&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="col">&ndash;&gt;-->
<!--&lt;!&ndash;      2 of 2&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="col">&ndash;&gt;-->
<!--&lt;!&ndash;      1 of 3&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="col">&ndash;&gt;-->
<!--&lt;!&ndash;      2 of 3&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="col">&ndash;&gt;-->
<!--&lt;!&ndash;      3 of 3&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<header>im head</header>&ndash;&gt;-->
<!--&lt;!&ndash;<p>im paragraph</p>&ndash;&gt;-->
<!--&lt;!&ndash;<button>im button</button>&ndash;&gt;-->
<!--&lt;!&ndash;<div>im chunk</div>&ndash;&gt;-->
<!--&lt;!&ndash;<span>im part of a line</span>&ndash;&gt;-->
<!--&lt;!&ndash;<textarea>you can drag this area</textarea>&ndash;&gt;-->
<!--&lt;!&ndash;<div><input></div>&ndash;&gt;-->
<!--&lt;!&ndash;input<input type="text">&ndash;&gt;-->
<!--&lt;!&ndash;<span>&ndash;&gt;-->
<!--&lt;!&ndash;  <button>a</button>&ndash;&gt;-->
<!--&lt;!&ndash;  <button>a</button>&ndash;&gt;-->
<!--&lt;!&ndash;  <button>a</button>&ndash;&gt;-->
<!--&lt;!&ndash;  <button>a</button>&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->

<!--&lt;!&ndash;<div>&ndash;&gt;-->
<!--&lt;!&ndash;  <button>b</button>&ndash;&gt;-->
<!--&lt;!&ndash;  <button>b</button>&ndash;&gt;-->
<!--&lt;!&ndash;  <button>b</button>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<div><button>c</button></div>&ndash;&gt;-->
<!--&lt;!&ndash;<div><button>c</button></div>&ndash;&gt;-->

<!--&lt;!&ndash;<div></div>&ndash;&gt;-->
<!--&lt;!&ndash;<div></div>&ndash;&gt;-->
<!--&lt;!&ndash;<div></div>&ndash;&gt;-->

<!--&lt;!&ndash;<br>&ndash;&gt;-->

<!--&lt;!&ndash;<div style="color:red">&ndash;&gt;-->
<!--&lt;!&ndash;  bird&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div>See what's happening in the world right now</div>&ndash;&gt;-->
<!--&lt;!&ndash;<br>&ndash;&gt;-->
<!--&lt;!&ndash;<div>Join Twitter today</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div><button class="btn-primary">Sign Up</button></div>&ndash;&gt;-->
<!--&lt;!&ndash;<div><button class="btn-secondary">Log in</button></div>&ndash;&gt;-->







<!--&lt;!&ndash;<div class="parent">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="child1">&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->

<!--&lt;!&ndash;  <div class="child2">&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->

<!--&lt;!&ndash;  <div class="child3">&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->

<!--&lt;!&ndash;  <div class="child4">&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->



<!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="nav">&ndash;&gt;-->
<!--&lt;!&ndash;    <ul class="tags">&ndash;&gt;-->
<!--&lt;!&ndash;      <li><span>Home</span></li>&ndash;&gt;-->
<!--&lt;!&ndash;      <li><span>Taco Menu</span></li>&ndash;&gt;-->
<!--&lt;!&ndash;      <li><span>Draft List</span></li>&ndash;&gt;-->
<!--&lt;!&ndash;      <li><span>Hours</span></li>&ndash;&gt;-->
<!--&lt;!&ndash;      <li><span>Directions</span></li>&ndash;&gt;-->
<!--&lt;!&ndash;      <li><span>Contact</span></li>&ndash;&gt;-->
<!--&lt;!&ndash;    </ul>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="section1">&ndash;&gt;-->
<!--&lt;!&ndash;    <p>margin-left样式</p>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="section2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="footer">还不错</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<div id="page">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="main">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="sub"></div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="nav"></div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<style type="text/css">&ndash;&gt;-->
<!--&lt;!&ndash;  #page { width: 520px;}&ndash;&gt;-->
<!--&lt;!&ndash;  .nav { width: 200px; float: right; }&ndash;&gt;-->
<!--&lt;!&ndash;  .main { width: 200px; float: left; padding-left: 110px; }&ndash;&gt;-->
<!--&lt;!&ndash;  .sub { width: 100px; float: left; margin: 10px 0 10px -100px; }&ndash;&gt;-->
<!--&lt;!&ndash;  .main { border: 1px solid #000; }&ndash;&gt;-->
<!--&lt;!&ndash;  .nav, .sub { border: 1px dashed #000; height: 300px; }&ndash;&gt;-->
<!--&lt;!&ndash;  .sub { height: 280px; }&ndash;&gt;-->
<!--&lt;!&ndash;</style>&ndash;&gt;-->

<div class="container">
  <div class="box">
    <div class="enter1">
      <input placeholder="  username">
    </div>
    <div class="enter2">
      <input placeholder="  password">
    </div>
    <div class="submit">
      <button>LOGIN</button>
    </div>
    <div class="links">
      <span class="plaintext">Not registered? </span>
      <span class="link2">Create an Account</span>
    </div>
  </div>
</div>










<!--<div class="flexContainer">-->
<!--  <div class="redBox"></div>-->
<!--  <div class="redBox"></div>-->
<!--  <div class="redBox"></div>-->
<!--  <div class="redBox"></div>-->
<!--</div>-->

<!--<p>Second example</p>-->

<!--<div class="flexContainerAuto">-->
<!--  <button class="btn btn-light">VIP</button>-->
<!--  <button class="btn btn-light">Courses</button>-->
<!--  <button class="btn btn-light">MINI Class</button>-->
<!--</div>-->

<!--<p>Third example</p>-->
<!--<div style="display: flex; justify-content: space-around">-->
<!--  <button class="btn btn-outline-secondary" style="width: 300px">VIP</button>-->
<!--  <button class="btn btn-outline-secondary" style="width: 300px">VIP</button>-->
<!--  <button class="btn btn-outline-secondary" style="width: 300px">VIP</button>-->
<!--</div>-->

<!--<br>-->

<!--<div>-->
<!--  <div style="border: 5px red solid" class="col-12">Occupy 12 Cols</div>-->
<!--  <div style="border: 5px red solid" class="col-3">Occupy 3 Cols</div>-->
<!--  <div style="border: 5px red solid" class="col-3 offset-3">Occupy 3 Cols</div>-->
<!--  <div style="border: 5px red solid" class="col-6 offset-3">Centered</div>-->
<!--</div>-->

